@use 'variables';
@use 'base';
@use 'components';
@use 'layout';
@use 'mixins';
@use 'onboarding';
@use 'splash';  




body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    
  }
 
  
  
